body {
   font-family: monospace;
}

// glich effect
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    .glitch {
       color:#fff;
       font-family: 'Poppins', sans-serif;
       font-weight: 600;
       font-size: 4em;
       position: relative;
       padding:30px;
       &:before, &:after {
          content:'RESUME';
          color:#fff;
          position: absolute;
          top:0;
          overflow:hidden;
          padding:30px;
       }
       &:before {
          left:3px;
          text-shadow: -3px 0 red;
          animation: glitch-before 2s linear 0s infinite alternate;
       }
       &:after {
          left:-3px;
          text-shadow: -3px 0 blue;
          animation: glitch-after 2s linear 0s infinite alternate;
       }
    }
 }
 
 @keyframes glitch-before {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }
 
 @keyframes glitch-after {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }
// end glich effect
// about present
.wrapper {
   //height: 100vh;
   /*This part is important for centering*/
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -60px;
 }
 
 .typing-demo {
   width: 26em;
   animation: typing 2.1s steps(32), blink .40s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   
   font-family: monospace, inherit;
   font-size: 0.7em;
 }
 
 .typing-demo{
   border-right: 3px solid;
 }

 @keyframes typing {
   from {
     width: 0
   }
 }
     
 @keyframes blink {
   50% {
     border-color: transparent
   }
 }

 // presen stop

 