{{ define "main" }}



{{ end }}

{{ define "sidebar-prefooter" }}


<section class="container">
  <div class="row">
    <div class=" text-center ">
      <div class="box">
        <h1 class="glitch">RESUME</h1>
        
     </div>
     
    </div>
    <div class="wrapper text-center justify-content-center">
      <div class="typing-demo">
       I'm WEB Developer AND Security Specialist.
      </div>
    </div>

  </div>
  
</section>

<section class="container">
  <div class="row">
    <div class=" text-center">
      <div style="height: 350px;"></div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="title col-lg-3 col-md-3 col-sm-4 col-xs-8">
        <h5><span># </span>ABOUT ME</h5>
      </div>
      <div class="col-lg-hidden col-md-hidden col-sm-hidden col-xs-hidden">
        <!-- void-->
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8 p-3">
        <div class="image_f">
          <img src="https://i.imgur.com/AxKTgiI.png" alt="">
        </div>
      </div>
      

      <div class="about-text col-lg-12 col-md-12 col-sm-12 col-xs-4 p-3">
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Te cule tation munere noluisse. Enim torquatos ne pri, eum mollis salutandi corrumpit et, fugit apeirian duo ad. </p>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-hidden m-1">
      <!-- void-->
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-1">
        <div class="row p-2 about_contact">
          <div class="col-md-5"><p><span>Имя:</span> Anton</p></div>
          <div class="col-md-5"><p><span>Возраст:</span> 27 years</p></div>
          <div class="col-md-5"><p><span>Работа:</span> BagBounty hanter</p></div>
      </div>
      <div class="row p-2 about_contact">
        <div class="col-md-5"><p><span>Гражданство:</span> Kazakstan</p></div>
        <div class="col-md-5"><p><span>Проживает:</span> Karaganda</p></div>
        <div class="col-md-5"><p><span>Электронная почта:</span> tohac2011@gmail.com</p></div>
    </div>
      </div>

    </div>
    

  </div>
<div class="container">
  <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-hidden">
    <!-- void-->
    </div>
    
    <div class="p-3 col-lg-4 col-md-7 col-sm-12 col-xs-12">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-info" style="font-size: 0.7em;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg> RESUME.PDF</button>
      </div>
  </div>
</div>
</section>

<section>
  <div class="container pt-5">
    <div class="row">

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p-3">
        
        
          <div class="h5-item">
            <h5>EXPERIENCE</h5>
          </div>
        
      
          <div class="resume_left_item p-1"></div>
          <div class="resume_top_item"></div>
        <div class="resume-item pb-3">
          
            <span style="" class="p-1 date-top">2021 present time</span>

            <div class="name">
                <h5>bagbounty hanter - hackerone Inc.</h5>
            </div>
            <p>
              I try myself in finding vulnerabilities for a reward!
            </p>
            
            <div class="resume_top_item"></div>

            <span style="" class="p-1 date-top">2017 - 2021</span>

            <div class="name">
                <h5>Factory "EGOFOM"</h5>
            </div>
            <p>
              I work at a foam factory.
              level /b work/
            </p>
            
            <div class="resume_top_item"></div>


            <span style="vertical-align: inherit;" class="p-1 date-top">2014 - 2017</span>

            <div class="name">
                <h5>Freelancer workzilla.com</h5>
            </div>
            
            <p>
              I was a freelancer of the server part of the interface. ( python3 django, flask )
            </p>
            
            <div class="resume_top_item"></div>
            
            <span style="vertical-align: inherit;" class="p-1 date-top">2013 - 2014 </span>
            <div class="name">
              <h5>WEB Studio SEO Specialist</h5>
          </div>
          
          <p>
            engaged in website layout and SEO promotion in search engines
          </p>
            
        </div>
        
        


      </div>
      
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p-3">
        
        
        <div class="h5-item">
          <h5>ENDUCATION</h5>
        </div>
      
    
          <div class="resume_left_item2 p-1"></div>
          <div class="resume_top_item"></div>
        <div class="resume-item pb-3">
        
              <span style="" class="p-1 date-top">2013 - 2021</span>

          <div class="name">
              <h5>Self-education</h5>
          </div>
          <p>
            endless self-education after the main job..
            <br>programming, new languages, administration
          </p>
          <div class="resume_top_item"></div>
          <span style="vertical-align: inherit;" class="p-1 date-top">2011 - 2013 </span>
          <div class="name">
            <h5>MGTK - lingua</h5>
        </div>
        
        <p>
          multidisciplinary humanitarian and technical college faculty of VT and PO
          <br>(Computer engineering and software)
          <br>profession system engineer
        </p>
          
      </div>


    </div>

  </div>

  </div>
</section>

<div style="height: 80px;"></div>

<section>
  <div class="container" style="padding-left: 40px;">
    <div class="row">

      <h5 class="title"><span>#</span> PORTFOLIO</h5>

      <div class="card border-info card-style m-2 col-md-2 col-lg-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ReconWTF</h5>
          <p class="card-text">ReconWTF this tool is designed for bug hunters, the main task of reconWTF is to collect the most accessible information possible using the best tools, I developed this tool for myself since the algorithm of reconWTF is my testing methodology!</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">GitGub Repository</a>
        </div>
      </div>
      <div class="card border-info card-style m-2 col-md-2 col-lg-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ReconWTF</h5>
          <p class="card-text">ReconWTF this tool is designed for bug hunters, the main task of reconWTF is to collect the most accessible information possible using the best tools, I developed this tool for myself since the algorithm of reconWTF is my testing methodology!</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">GitGub Repository</a>
        </div>
      </div>
      <div class="card border-info card-style m-2 col-md-2 col-lg-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ReconWTF</h5>
          <p class="card-text">ReconWTF this tool is designed for bug hunters, the main task of reconWTF is to collect the most accessible information possible using the best tools, I developed this tool for myself since the algorithm of reconWTF is my testing methodology!</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">GitGub Repository</a>
        </div>
      </div>
      <div class="card border-info card-style m-2 col-md-2 col-lg-2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ReconWTF</h5>
          <p class="card-text">ReconWTF this tool is designed for bug hunters, the main task of reconWTF is to collect the most accessible information possible using the best tools, I developed this tool for myself since the algorithm of reconWTF is my testing methodology!</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">GitGub Repository</a>
        </div>
      </div>
      


    </div>
      
  </div>

</section>
<div style="height: 80px;"></div>
<section>
  <div class="container">
    <div class="row">
      <h5 class="title"><span>#</span> LANGUAGES SCILLS</h5>
      <div style="height: 30px;"></div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="">
            
            <ul class="list-inline list-txt">
              <span>
                Russian
              </span>
              <li class="list-inline-item m-1"><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang"></div><div class="circle-lang"></div></li>

            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="">
            
            <ul class="list-inline list-txt">
              <span>
                English
              </span>
              <li class="list-inline-item m-1"><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang circle-lang-active"></div><div class="circle-lang"></div><div class="circle-lang"></div><div class="circle-lang"></div><div class="circle-lang"></div><div class="circle-lang"></div><div class="circle-lang"></div><div class="circle-lang"></div></li>

            </ul>
          </div>
        </div>


    </div>
  </div>
</section>
<div style="height: 80px;"></div>
<section>
  <div class="container">
    <div class="row">
      <h5 class="title"><span>#</span> CODING SCILLS</h5>

      <div class="bar-title-text p-0 m-0">
        <p>bash</p>
      </div>
      <div class="progress bar1 p-0">
        <div class="progress-bar bar2" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>

      <div class="bar-title-text p-0 m-0">
        <p>Python 3</p>
      </div>
      <div class="progress bar1 p-0">
        <div class="progress-bar bar2" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>

      <div class="bar-title-text p-0 m-0">
        <p>JavaScript</p>
      </div>
      <div class="progress bar1 p-0">
        <div class="progress-bar bar2" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
      </div>

      <div class="bar-title-text p-0 m-0">
        <p>html</p>
      </div>
      <div class="progress bar1 p-0">
        <div class="progress-bar bar2" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
      </div>

      <div class="bar-title-text p-0 m-0">
        <p>css</p>
      </div>
      <div class="progress bar1 p-0">
        <div class="progress-bar bar2" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>

      <div style="height: 60px;"></div>

      <div class="tags">
        <ul class="list-inline">
          <li class="list-inline-item m-1"><span>#</span>Django</li>
          <li class="list-inline-item m-1"><span>#</span>flask</li>
          <li class="list-inline-item m-1"><span>#</span>Bootstrap 5</li>
          <li class="list-inline-item m-1"><span>#</span>HUGO Templates</li>
          <li class="list-inline-item m-1"><span>#</span>PyQT</li>
          <li class="list-inline-item m-1"><span>#</span>SQlite</li>
          <li class="list-inline-item m-1"><span>#</span>Git</li>
          <li class="list-inline-item m-1"><span>#</span>Regex</li>
          <li class="list-inline-item m-1"><span>#</span>DOM</li>
        </ul>
      </div>

    </div>
  </div>
</section>
<div style="height: 80px;"></div>
<section>
  <div class="container">
    <div class="row">
      <h5 class="title"><span>#</span> KNOWLEDGE</h5>
    </div>
  </div>
</section>
<div style="height: 80px;"></div>

<div class="container">
  <div class="row">
    <h5 class="title"><span>#</span> INFOSEC</h5>
  </div>
</div>
</section>
<div style="height: 80px;"></div>

<section>
  <div class="container">
    <div class="row">
      <h5 class="title"><span>#</span> MY SERVICES</h5>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class=" text-center">
      <div style="height: 350px;"></div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
