{{ define "main" }}



{{ end }}

{{ define "sidebar-prefooter" }}


<section class="container">
  <div class="row">
    <div class=" text-center">
      <div class="box">
        <h1 class="glitch">RESUME</h1>
     </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class=" text-center">
      <h1> 123 sdadasd</h1>
      <p>123 asdadasdasasa</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class=" text-center">
      <h1> 123 sdadasd</h1>
      <p>123 asdadasd</p>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class=" text-center">
      <h1> 123 sdadasd</h1>
      <p>123 asdadasd</p>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class=" text-center">
      <h1> 123 sdadasd</h1>
      <p>123 asdadasd</p>
    </div>
  </div>
</section>


{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
